# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# JetBrains
.idea

# CMake Build directories
cmake-build*

# local dev environment
local/
.dev
dev.Dockerfile

# compiled protos
protos/build

# DL model files
*.weights
*.pth
*.tar.gz

# Python
__pycache__
