[submodule "libs/loguru"]
	path = libs/loguru
	url = https://github.com/emilk/loguru.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest
[submodule "libs/abseil-cpp"]
	path = libs/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "libs/CLI11"]
	path = libs/CLI11
	url = https://github.com/CLIUtils/CLI11
