[submodule "libs/loguru"]
	path = libs/loguru
	url = https://github.com/emilk/loguru.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest
[submodule "libs/CLI11"]
	path = libs/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "libs/xtl"]
	path = libs/xtl
	url = https://github.com/xtensor-stack/xtl.git
[submodule "libs/xtensor"]
	path = libs/xtensor
	url = https://github.com/xtensor-stack/xtensor.git
